{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
    <img class="img" src="/static/img/VIT.jpg">
    <div class="container-fluid centered text-center">
        <div class="text-white">
            <h1 style="font-size: 80px;">College System Management</h1>
            <h5 class="my-5" style="font-size: 30px;">One stop for all your details.</h5>
        </div>
        <center>
            <a class="btn btn-primary px-5 py-3 rounded-pill mt-5" href="/discover">Let's Go</a>
        </center>
    </div>
</div>

<div>
    
</div>

{% endblock content %}